* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

body {
    background-color: rgb(251, 255, 255);
}

main {
    margin: 5rem auto;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: #662d91;
    margin-top: 1.5rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: 0.5rem;
}

img {
    width: 12rem;
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    padding: 0rem auto;
}

span {
    color: #b5394a;
    font-weight: 900;
}

.container {
    margin: 3.5rem auto;
    font-weight: 300;
    /* width: 55rem; */
    max-width: 55rem;
    text-align: center;
    padding: 0.8rem;
    border-radius: 50px;
    background-color: white;
    /* background-color: #39b54a23; */
    box-shadow: #662d9159 5px 5px 30px;
}

.item {
    margin: 1.2rem auto;
}

input, select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    width: 30rem;
    max-width: 40rem;
    height: 2.5rem;
    border-radius: 15px;
    outline: none;
    border: #39b54a 1px solid;
    padding: 10px;
    background-color: white;
    color: darkslategray;
    font-weight: 500;
    text-align: center;
}

input:hover {
    background-color: #662d91;
    color: white;
    font-weight: 700;
}

select:hover {
    background-color: #662d91;
    color: white;
    font-weight: 700;
}

option {
    font-size: 1rem;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    width: 30rem;
    max-width: 40rem;
    height: 2.5rem;
    border-radius: 15px;
    outline: none;
    border: none;
    padding: 10px;
    background-color: #662d91;
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
}

button:hover{
    background-color: #39b54a;
}

#dataDia, #dataMes, #dataAno {
    width: 12rem;
    margin: 0.5rem auto;
}

#success {
    color:#39b54a;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.8rem;
}

#error, #errorCep, #errorSubmit {
    color:#b5394a;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.8rem;
}


footer {
    font-size: 0.8rem;
    color: #662d91;
    text-align: center;
    margin: -3rem 0rem 1.5rem 0rem;
}

@media only screen and (max-width: 1024px) {

    .container {
        width: 40rem;
        max-width: 40rem;
    }

    h1 {
        font-size: 2.1rem;
        margin: 0 auto;
    }

    p {
        font-size: 1rem; 
        margin: 0 2.5rem;

    }
    input, select {
        width: 35rem;
        max-width: 40rem;
    }     

    button {
        width: 35rem;
    }
}

@media only screen and (max-width: 780px) {
    main {
        margin: 4rem auto;
        position: relative;
    }

    .container {
        width: 24rem;
        max-width: 24rem;
    }

    h1 {
        font-size: 2.1rem;
        margin: 0 auto;
    }

    p {
        font-size: 1rem; 
        margin: 0 2.5rem;

    }
    input, select {
        width: 21rem;
        max-width: 40rem;
    }     

    button {
        width: 21rem;
    }
    footer {
        display: block;
        position: relative;
    }
}

@media only screen and (max-width: 400px) {

    /* main {

        /* margin: 4rem auto; */
        /* position: relative; */
    

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
    
    .container {
        /* overflow-x: hidden; */
        margin: 3.5rem auto;
        font-weight: 300;
        width: 20rem;
        max-width: 20rem;
        text-align: center;
        padding: 0.8rem auto;
        border-radius: 20px;
        box-shadow: #662d9159 5px 5px 20px;
    }

    input, select {
        width: 18rem;
        max-width: 18rem;
    }     

    button {
        width: 18rem;
    }

    footer {
        /* display: block;
        position: relative; */
        font-size: 0.6rem;
    }
}
